<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3 class="text-center">detallaes del empleado para eliminar</h3>
    <div>
        <p><b>ID: </b>{{empleado.id}}</p>
        <p><b>Nombre: </b>{{empleado.nombre}}</p>
        <p><b>Apellido: </b>{{empleado.apellido}}</p>
        <p><b>Email: </b>{{empleado.email}}</p>
        <p><b>Fecha: </b>{{empleado.creadoEn}}</p>
    </div>

    <button class="btn btn-primary" (click)="borrarEmpleado(empleado.id)">Borrar el empleado</button>
  </div>
</div>
