<div class="alert alert-primary" role="alert">
  {{ title }}
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/empleados"  routerLinkActive="active" 
      class="nav-link">Lista de empleados</a>
    </li>
    <li class="nav-item">
      <a routerLink="/registrar-empleado" routerLinkActive="active"
        class="nav-link">Añadir empleados</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<!--
<pre>
  {{ products$ | async | json }}
</pre>
-->
