<div class="row">
  <div class="col-md-6 offset-md-3 contenedor">
    <h3 class="text-center">Edición de empleado actualizar</h3>
    <form (ngSubmit)="onSubmit()" #empleadoForm="ngForm">
      <div class="form-group mb-3">
        <label><b>Nombre: </b></label>
        <input
          type="text"
          class="form-control"
          placeholder="ingrese su nombre"
          id="nombre"
          name="nombre"
          required
          minlength="4"
          maxlength="10"
          [(ngModel)]="empleado.nombre"
          #nombre="ngModel"
        />
      </div>

      <div class="form-group mb-3">
        <label><b>Apellido: </b></label>
        <input
          type="text"
          class="form-control"
          placeholder="ingrese su apellido"
          id="apellido"
          name="apellido"
          required
          minlength="4"
          maxlength="10"
          [(ngModel)]="empleado.apellido"
          #apellido ="ngModel"
        />
      </div>

      <div class="form-group mb-3">
        <label><b>Email: </b></label>
        <input
          type="email"
          class="form-control"
          placeholder="ingrese su email"
          id="email"
          name="email"
          required        
          [(ngModel)]="empleado.email"
          #email="ngModel"
        />
      </div>

      <div class="form-group mb-3">
        <label><b>fecha: </b></label>
        <input
          type="text"
          class="form-control"
          placeholder="ingrese su fecha"
          id="creadoEn"
          name="creadoen"  [(ngModel)]="empleado.creadoEn"          
          #creadoEn="ngModel"    
        />
      </div>

      <div class="botonactualizar">
        <button class="btn btn-success" [disabled]="!empleadoForm.form.valid">Guardar</button>
      </div>


    </form>
  </div>
</div>
